body{
    height: 100vh;
    background-color: hsl(257,40%, 49%);
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.inicio{
    display: grid;
    grid-template-areas: "imagem textos"
}

.logo img{
    padding: 50px;
    margin-left: 535px;
}

.inicio .imagem img{
    grid-area: imagem;
}

.inicio .textos{
    grid-area: textos;
    width: 680px;
    margin-top: 70px;
    margin-right: 460px;
}

.inicio .imagem img{
    width: 810px;
    height: 550px;
    padding: 10px;
    margin-top: 40px;
    margin-left: 605px;
}

.inicio .textos{
    color: #fff;
    gap: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    height: 400px;
    margin-left: 30px;
}

.inicio .textos h1{
    font-family: "Poppins" , sans-serif;
    font-weight: 600;
    font-size: 45px;
}

.inicio .textos h2{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    gap: 10px;
}

.textos p{
    font-family: "Poppins" , sans-serif;
    font-weight: 400;
    width: 200px;
    font-size: 25px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
}

.textos p{
    background-color: #fff;
    color: hsl(257,40%, 49%);
    border-radius: 30px;
    padding: 15px;
    filter: drop-shadow(6px 6px 10px #1b1b1b);
}

.textos p:hover{
    cursor: pointer;
    background-color: hsl(300,69%, 71%);
    color: #fff;
    border-radius: 30px;
    padding: 15px;
    transition: 0.2s;
    filter: drop-shadow(6px 6px 10px #1b1b1b);
}

.redes-sociais{
    color: #fff;
    font-size: 20px;
    gap: 30px;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-right: 440px;
    margin-top: 50px;
}

.redes-sociais .fa-facebook-f{
    padding: 15px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
}

.redes-sociais .fa-facebook-f:hover{
    cursor: pointer;
    color: hsl(300,69%, 71%);
    padding: 15px;
    border-radius: 50%;
    border: 2px solid hsl(300,69%, 71%);
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.redes-sociais .fa-instagram{
    padding: 15px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
}

.redes-sociais .fa-instagram:hover{
    cursor: pointer;
    color: hsl(300,69%, 71%);
    padding: 15px;
    border-radius: 50%;
    border: 2px solid hsl(300,69%, 71%);
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.redes-sociais .fa-twitter{
    padding: 15px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
}

.redes-sociais .fa-twitter:hover{
    cursor: pointer;
    color: hsl(300,69%, 71%);
    padding: 15px;
    border-radius: 50%;
    border: 2px solid hsl(300,69%, 71%);
    display: flex;
    align-items: center;
    transition: 0.2s;
}
